#include <windows.h>

#define IDI_APPICON 101
#define IDR_HTML_APP 201

IDI_APPICON ICON "app.ico"
IDR_HTML_APP RCDATA "public/range_standalone.html"

// Embedded Application Manifest
1 24 "app.manifest"

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     3,3,0,0
PRODUCTVERSION  3,3,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "RANGE Precision Esports\0"
            VALUE "FileDescription",  "Roblox Rivals - RANGE Precision Aim Trainer Desktop App\0"
            VALUE "FileVersion",      "3.3.0.0\0"
            VALUE "InternalName",     "RangeAimTrainer\0"
            VALUE "LegalCopyright",   "Copyright (C) 2026 RANGE Esports\0"
            VALUE "OriginalFilename", "Roblox_Rivals_RANGE_Aim_Trainer.exe\0"
            VALUE "ProductName",      "Roblox Rivals RANGE Precision Aim Trainer\0"
            VALUE "ProductVersion",   "3.3.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
